.DS_Store
*.pem

# dependencies
node_modules/

# Next.js
.next/
out/

# production
build/

# env files
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# testing
playwright-report/
test-results/
coverage/

